{
  "presets": ["latest"],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "comments": false
}
